body {
  background-color: #100d28;
  color: antiquewhite;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: block;
  margin-bottom: 2em;
}
label {
  display: block;
  margin-bottom: 0.75em;
  font-size: 2rem;
  font-weight: bold;
}
input {
  width: 80%;
  margin-bottom: 0.5em;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid antiquewhite;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 1rem;
  padding-left: 20px;
}
button {
  margin: 0.75em;
  background-color: transparent;
  padding: 0.5rem;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.75s;
}
button:hover {
  background-color: antiquewhite;
  color: black;
  border: 2px solid black;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

h1 {
  text-align: center;
  margin: 2rem;
  color: white;
  letter-spacing: 5px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px slategrey;
}
span {
  color: rgb(241, 150, 180);
  font-size: 2.75rem;
  text-shadow: none;
}
#encodedOutput, #decodedOutput{
border : 2px solid orange;
width :100%;
}